@import "../../var";

.new_recipe_container {
  border-radius: 10px;
  padding: 0.5rem 1rem;
}

.new_recipe_form {
  display: flex;
  flex-direction: column;
}

.new_recipe_form label {
  margin-top: 1rem;
}

.submit-button {
  background-color: map-get($colors, main-brown);
  color: white;
  width: 100px;
  height: 35px;
  margin-top: 1.5rem;
  border-radius: 5px;
}

.new_recipe_form input,
.category {
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
  height: 31px;
  width: 100%;
  border: 1px solid map-get($colors, main-brown);
  padding-left: 5px;
}

.selectfield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.selectfield label {
  margin-top: 0;
}

.new_recipe_form textarea {
  border: 1px solid map-get($colors, main-brown);
}

.new_recipe_form hr {
  border: 1px solid red;
}

input.amount {
  width: 30%;
  margin-right: 10px;
}
