@import "../../var";

.new_recipe_form {
  display: flex;
  flex-direction: column;
  max-width: 360px;
  margin: auto;
}

.new_recipe_form label {
  margin-top: 1rem;
  font-size: 0.8125rem;
}

.new_recipe_form input,
select.category,
.ingredient select {
  margin-bottom: 0.7rem;
  margin-top: 0.2rem;
  height: 31px;
  width: 100%;
  border: 1px solid map-get($colors, main-white);
  padding-left: 5px;
  background-color: map-get($colors, main-brown);
  color: map-get($colors, main-white);
}

div.ingredient {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0.9rem;
}

div.ingredient div {
  display: flex;
  flex-direction: column;
}

input.amount {
  width: 80px;
}

input.unit {
  width: 70px;
}

.add_ingr,
.remove_ingr {
  background-color: map-get($colors, main-white);
  margin: 1rem auto;
  height: 31px;
  border: 1px solid map-get($colors, main-brown);
}

.remove_ingr {
  margin-left: 1rem;
}

select:invalid {
  color: map-get($colors, main-grey);
}

.selectfield {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  background-color: inherit;
}

.selectfield p,
.selectfield label {
  margin: 0;
}

.selectfield select {
  margin: 0 0.5rem 0 1rem;
}

.new_recipe_form textarea {
  border: 1px solid map-get($colors, main-brown);
}

.instructions {
  display: flex;
  flex-direction: column;
}

.submit-button {
  background-color: map-get($colors, main-brown);
  color: map-get($colors, main-white);
  width: 100px;
  height: 35px;
  margin-top: 1.5rem;
  border-radius: 5px;
}
