@import "../../var";

.about img {
  width: 100%;
  border: 1px solid map-get($colors, main-brown);
  border-radius: 10px;
  margin: 0 auto;
  max-width: 450px;
}

.about p {
  background-color: map-get($colors, main-white);
  color: map-get($colors, main-grey);
  padding: 1rem;
  line-height: 1.6;
}
