@import "../../../var";

.searchform {
  margin: 0 8px;
}

.searchbar {
  margin: 1rem 0;
  width: 98%;
}

.searchbar label {
  @include desktop {
    font-size: 0.75rem;
  }
}

.searchbar input {
  margin-top: 0.2rem;
  height: 35px;
  width: 100%;
  border: 1px solid map-get($colors, main-brown);
  padding-left: 5px;
  @include desktop {
    font-size: 0.75rem;
  }
}

.searchbar button {
  background-image: url("../../../img/magnifer.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: 27px;
  width: 27px;
  border-style: none;
  background-color: inherit;
  margin: 0;
  position: absolute;
  right: 5px;
  top: 7px;
  @include desktop {
    height: 15px;
    width: 15px;
  }
}

.inputwrapper {
  position: relative;
}
