@import "../../_var.scss";

.link_buttons {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.link_buttons a {
  padding-left: 1.1rem;
  padding-top: 0.45rem;
  margin: 1rem;
  height: 40px;
  width: 40px;
  border: 1px solid map-get($colors, main-brown);
  color: map-get($colors, main-brown);
  border-radius: 50%;
  text-decoration: none;
  font-family: "oregano";
  font-size: 1rem;
  position: absolute;
  line-height: 0.8;
}

.circle {
  margin: 2rem auto;
}

.green_circle {
  border: 1px solid map-get($colors, main-brown);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 5;
  width: 280px;
  height: 280px;
}

.welcome_page img {
  width: 100%;
  margin: 0;
}

.position_relative {
  position: relative;
  min-height: 3600px;
}

.img_wrapper {
  @include desktop {
    max-height: 150px;
    overflow: hidden;
  }
}
