@import "../../var";

.navlinks {
  box-shadow: 5px 5px 5px map-get($colors, grey);
  position: fixed;
  z-index: 3;
  background-color: map-get($colors, main-white);
  height: 100%;
  width: 75%;
  max-width: 300px;
  @include desktop {
    right: 10%;
    border-right: none;
    border-left: 1px solid map-get($colors, main-brown);
    box-shadow: none;
  }
}

.navlinks nav {
  display: block;
}

.navlinks ul {
  list-style-type: none;
}

.navlinks li {
  margin: 1rem 0;
}

.navlinks a {
  text-decoration: none;
  color: map-get($colors, main-brown);
}
