@import "../../var";

nav {
  display: none;
  @include desktop {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 0 auto;
    background-color: map-get($colors, main-white);
    position: relative;
  }
}

nav a {
  margin: 0 1.5rem;
  text-decoration: none;
  font-size: 0.75rem;
}

.recipesDropDown {
  position: absolute;
  top: 1rem;
  left: 0;
  color: black;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-content: flex-start;
  align-items: flex-start;
}

.recipesDropDownDiv {
  position: relative;
}

.recipesDropDownDiv a {
  margin: 0;
}

.dropdown {
  background-color: inherit;
  border: none;
  background-image: url("dropdown.png");
  background-size: 13px 10px;
  background-position: right;
  background-repeat: no-repeat;
  min-width: 80px;
  padding: 0 2rem;
  margin: 0;
  font-size: 0.75rem;
}
