.rdetails img {
  width: 100%;
}

.arrowbtn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.arrowbtns button {
  border-radius: 50%;
}

.btn-right {
  align-items: flex-end;
}
