$colors: (
  main-brown: #006622,
  main-white: #f9f9f9,
  main-black: #280808,
  main-grey: #130d06,
  main-red: #b53a27,
);

$fontsizes: (
  main-text: 1rem,
  yummie: 1.75rem,
);

$tablet-width: 768px;
$desktop-width: 800px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width -1 px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
