$colors: (
  main-brown: #772142,
  main-white: #f9f9f9,
  main-black: #280808,
  main-grey: #a4a4a4,
  main-green: #27b55d,
  main-red: #b53a27,
);

$fontsizes: (
  main-text: 1rem,
  yummie: 1.75rem,
);

$tablet-width: 768px;
$desktop-width: 1024px;

@mixin tablet {
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width -1 px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}
