@import "../../var";

.topline-container {
  padding: 0.4rem 0.4rem 0 0.4rem;
  @include desktop {
    padding: 0;
    margin: 0;
  }
}

.topline {
  color: map-get($colors, main-brown);
  background-color: map-get($colors, main-white);
  display: flex;
  justify-content: space-between;
  margin: 0 0.5rem;
  @include desktop {
    grid-column: 1 / span 4;
    background-color: map-get($colors, main-grey);
    margin: auto;
    height: 80px;
    padding: 0;
    width: 80%;
  }
}

h1 {
  margin-left: 2rem;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: map-get($colors, $key: main-brown);
  margin: 6px 0;
  transition: 0.4s;
}

.searchbar {
  max-width: 300px;
  @include desktop {
    height: 40px;
  }
}

.searchbtn {
  width: 39px;
  height: 39px;
  background-image: url("../../img/magnifer.png");
  background-size: cover;
  border: none;
  background-color: inherit;
  @include desktop {
    display: none;
  }
}

.searchtransition-enter,
.searchtransition-appear {
  opacity: 0;
  transform: scale3d(0.1, 0.1, 0.1);
}
.searchtransition-enter-active,
.searchtransition-appear-active {
  opacity: 1;
  transform: scale3d(1, 1, 1);
  transition: transform 300ms ease-out;
}
.searchtransition-exit {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}
.searchtransition-exit-active {
  opacity: 0;
  transition: transform 300ms ease-in-out;
  transform: scale3d(0.1, 0.1, 0.1);
}

header .searchbar {
  display: none;
  @include desktop {
    display: block;
  }
}

header .searchbar label {
  @include desktop {
    color: white;
  }
}

header .searchbar input {
  @include desktop {
    height: 37px;
  }
}

button.menu {
  @include desktop {
    display: none;
  }
}
